.jumbotron {
    background-image: url("../assets/01.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 25px;
    background-position: 50% 8%;
    text-align: center;
    color: white;
}

.biography-item {
    padding: 20px;
}

.achievements-item {
    border: 2px black solid;
    padding: 20px;
}