div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#banner {
    background-image: url(https://images.unsplash.com/photo-1572715381359-002b1eabd56b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cloud {
    background-image: url("../assets/cloud.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.rain {
    background-image: url("../assets/rain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#horizontal {
    position: relative;
    display: inline-block;
    left: 10px;
}

body {
    overflow-x: hidden;
}